@font-face {
    font-family: lcars; src: url('../font/lcars.otf');
}

html, body {
    background: black;
    font-family: lcars;
    width: 790px; 
    height: 460px;
    border: solid 1px #000;
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.black {
    color: black;
}

.background-text {
    font-size: 25px;
}

.medium-text {
    font-size: 40px;
}

.medium-large-text {
    font-size: 55px;
}

.large-text {
    font-size: 60px;
}

.time-text {
    font-size: 90px;
}
    
.no-text-wrap {
    white-space: nowrap;
}

.medium-small-text {
    font-size: 30px;
}

.small-text {
    font-size: 25px;
}

.micro-text {
    font-size: 20px;
}

#car-computer .lcars-blue-color {
    color: #B3D5FF !important;
}

#car-computer .lcars-tan-color {
    color: #FFD7B3 !important;
}

#car-computer .lcars-red-color {
    color: #FFB3C0 !important;
}

#car-computer .lcars-purple-color {
    color: #F2B3FF !important;
}

#driving-stats-table table, #driving-stats-table th, #driving-stats-table td {
    border: 1px solid #333;
    padding: 4px;
}

#phone-message-container {
    left: 10px; 
    top: 420px; 
    width: 790px; 
    height: 45px;  
    overflow: hidden;
}
